/* HTML reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'Scoutie Sans';
    src: url(ScoutieSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Scoutie Sans';
    src: url(ScoutieSans-VariableFont_wght.ttf);
    font-weight: italic;
}

@view-transition {
    navigation: auto;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    font-family: 'Scoutie Sans';
}

p {
    color: #aaa;
    margin: 5px;
}

.listing-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.listing-thumbnail {
    width: 20vw;
    height: 20vw;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    font-size: 2em;
}

.breadcrumb {
    min-width: 1em;
    padding-left: 1em;
}

::view-transition-old(content) {
    animation: fade-out 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

::view-transition-new(content) {
    animation: fade-in 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes fade-in {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes fade-out {
    0% {
        transform: scale(1.0);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

::view-transition-old(root) {
    animation: none;
}

::view-transition-new(root) {
    animation: none;
}

.view-container {
    background-color: black;
    min-width: 100%;
    min-height: 100%;
    view-transition-name: content;
}

.view {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;

    .top-controls {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: right;
    }
    
    .arrows {
        width: 100%;
        align-self: center;
        display: flex;
        justify-content: space-between;
    }

    .bottom-controls {
        height: 50px;
        overflow: hidden;
        p {
            font-size: 32px;
            color: #444;
        }
    }
}

.icon-button {
    width: 50px;
    height: 50px;
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
    }
}

.arrow {
    width: 100px;
    height: 100px;
}

.icon-button:hover {
    filter: brightness(5);
}
